--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
Flask
Flask-SQLAlchemy
gunicorn
psycopg2-binary
numpy
tensorflow-cpu
librosa
pydub
openai-whisper
soundfile
webrtcvad-wheels
WeasyPrint
werkzeug
torch
torchvision
torchaudio
resampy
google-generativeai
python-dotenv